<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Shopik</title>
</head>
<body>
    <header>
        <div class="logo"><p>Shopik</p></div>
        <nav>
            <a href="">О магазине</a>
            <a href="">Контакты</a>
            <a href="">Корзина</a>
            <a href="">Вход</a>
            <a href="">Кабинет</a>

        </nav>
    </header>
</body>